---
layout: default
title: Chicago Journal
---

<main id="main" class="site-main">

{% if page.url == "/" %}
    <!-- Hero Section -->
    <div class="hero inner">
        <h3>{{ site.author.greetings }}</h3>
        <p>The Chicago Journal is a subscriber-supported blog focused on the political, cultural, and economic issues of Chicago and its metro area. It's a small, privately-owned, independent operation that believes in hard work and that Chicago is the Great American City.</p>
        <p>We're committed to telling the good, the bad, the ugly, and the funny story of this town. It’s our goal to, one day, become a digital destination and essential resource in the lives of our readers. We invite you on this journey and we hope that you’ll stick with us as we do our best to grow the Chicago Journal into something special.</p>
        <p>To learn more about the idea and philosophy behind this project, read our brief <a rel="me" href="https://walkercraig.github.io/chicagojournal/about">About</a> page and the more detailed <a rel="me" href="https://walkercraig.github.io/chicagojournal/about-this-site.html">About This Site</a>.</p>
        <p>Written and edited by <a rel="me" href="https://walkercraig.com">Craig Walker</a>, the Chicago Journal is a publication of <a rel="me" href="https://challenge.media">Challenge Media</a>.</p>
    </div>        

    <!-- Newsletter Subscription Box -->
    {% if site.mailchimp_url %}
        {% include newsletter-box.html %}
    {% endif %}
{% endif %}

</main>
